<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Правила поведения :: Сюита студия исторического танца, Кемерово</title>
    <meta name="robots" content="all">
    <meta name="Author" content="CDC Studio">
    <meta name="KeyWords" content=", исторические танцы, курсы, обучение, фестиваль, балы, танцклассы. Фабио, Симонетта, Катерина">
    <meta name="Description" content="Сюита студия исторического танца, Кемерово">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="../../style/main.css">
</head>
<body>
    <table class="glob">
        <tr><td height="158">
            <!-- header -->
<table class="logo">
    <tr><td class="lr1 lc1" background="../../img/bg_left.jpg"><a href="../../index.html"><img src="../../img/logo0101.gif" width="271" height="102" alt="Trianon Studio" /></a></td>
      <td class="ar lr1 lc2"><img src="../../img/logo0103.gif" /></td>
    <td class="ar lr1 lc3"><img src="../../img/logo0104.jpg" alt="" width="200" height="102"></td></tr>
  <tr><td class="lr2 lc1 al" style="background: url('../../img/bg_left.jpg');"><img src="../../img/logo0201.gif" width="271" height="34" alt=""></td>
    <td class="lr2 lc2 ar" style="background: url('../../img/logo0202.gif') no-repeat;"><img src="../../img/logo0203.gif" /></td>
    <td class="lr2 lc3 al" background="../../img/logo0204.jpg"></td></tr>
    <tr><td class="lr3 lc1 al" background="../../img/bg_left.jpg"><img src="../../img/logo0301.gif" alt=""></td>
    <td class="lr3 lc2 al" background="../../img/bg_logo3.gif"><img src="../../img/logo0302.gif" alt=""></td>
      <td class="lr3 lc3 al lfs" background="../../img/logo0304.jpg"><img src="../../img/flag_russian.gif" alt="Русский" title="Русский" width="16" height="11" border="0">&nbsp;&nbsp;</td></tr>
</table>


        </td></tr>
        <!-- main -->
        <tr><td>
            <table class="main">
                <tr><td class="left-col">
                    <!-- menu -->
<table class="menu">
<tr><td><a href="../../index.html" title="Главная" class="menpd" >Главная</a></td></tr>

<tr><td><a href="../studio/default.htm" title="О студии" class="menpd" >О студии</a></td></tr>

<tr><td><a href="default.htm" title="Танцевальная школа" class="menpd" >Танцевальная школа</a><ul class="inner">
<li class="menpr"><a href="schedule" title="Расписание" >Расписание</a></li>

<li class="menpr"><a href="dance-hall/default.htm" title="Танцзалы" >Танцевальные залы</a></li>

<li class="menpr"><span style="color: #6C3702;">Правила поведения</span></li>


</ul>
</td></tr>

<tr><td><a href="../events/default.htm" title="Мероприятия" class="menpd" >Мероприятия</a></td></tr>

<tr><td><a href="../library/default.htm" title="Библиотека" class="menpd" >Библиотека</a></td></tr>

<tr><td><a href="../gallery/default.htm" title="Галерея" class="menpd" >Галерея</a></td></tr>

<tr><td><a href="../contacts.html" title="Контакты" class="menpd" >Контакты</a></td></tr>


</table>
<!-- menu end -->
                    <!-- counters -->
<table class="cnt">
    <tr><td>
      
    </td></tr> 
</table>
<!-- counters end -->
                </td><td class="left-sep">
                    <img src="../../img/bg_menu3.gif" alt="">
                </td><td class="mid-col">
                    <!-- page body -->
 
                    <div class="title">Правила поведения</div>
                    <div class="content">
                            <p style="text-align: justify;"><strong>Одежда и обувь:</strong></p>
<p style="text-align: justify;">1) Для занятий нужна специализированная обувь вроде балеток, чешек или чего-то похожего.<br />
2) Никаких каблуков!<br />
3) Одежда должна быть удобной и не стесняющей движения.<br />
4) Дамы, пожалуйста, на танцклассы не ходите в очень длинных юбках. Очень сложно отследить правильность движений, если не видишь ног.<br />
5) Ко всем – обязательно пользуйтесь дезодорантами.</p>
<p style="text-align: justify;"><br /><strong>Правила поведения на танцклассах:</strong></p>
<p style="text-align: justify;">1) Преподаватель всегда прав<br />
2) Если преподаватель не прав, см. пункт 1<br />
3) Несмотря на первые два пункта преподаватель – это очень хороший человек, который вам всегда со всем поможет.<br />
4) Если вы пришли танцевать, будьте добры именно танцевать. Ответы вроде «этот танец я не танцую, я устал, и т.п.» не принимаются, вы пришли танцевать.<br />
5) Уважайте преподавателя. Он один, а вас много. Не разговаривайте во время объяснения танцев.<br />
6) Если вы уже знаете танец, это не значит, что вы можете перебивать преподавателя и учить всех стоящих вокруг вас.<br />
7) Если вы думаете, что преподаватель ошибся (см пункт 1 (шучу)), подойдите и скажите ему об этом, не кричите на весь зал и не храните в себе.<br />
8) Если вы не знаете каких-то шагов или танца, лучше попросите преподавателя лишний раз объяснить.</p>
<p style="text-align: justify;"><br /><strong>Правила поведения во время танцев:</strong></p>
<p style="text-align: justify;">1) Прежде чем начать танец, дорогие Кавалеры пригласите Даму, а не выдергивайте из толпы.<br />
2) <strong>Спокойно</strong> найдите себе место в танце.<br />
3) В вальсе соблюдайте правило трех кругов (внутренний для тех кто не танцует совсем, средний для тех, кто танцует плохо, внешний, для тех, кто танцует хорошо)<br />
4) В колональных танцах – вперед первой пары вставать неприлично!, а так же в середину колонны<br />
5) Если вы танцуете в паре, вы не имеете права выходить из танца один, то же самое если танцуете в сете.<br />
6) После танца кавалер обязан отвести даму на место, а не бросать посреди танцпола.<br />
7) Более подробные правила и основы этикета можно почитать <a href="../../ru/library/etiquette/default.htm">здесь</a></p>
                    </div>

                </td><td class="right-col">
                        <img src="../../img/0.gif" alt="" width="200">
                        <!-- как бы поаккуратнее растянуть эту колонку? -->
                </td></tr>
            </table>
        </td></tr>
        <tr><td height="20"><table class="footer"><tr>
    <td class="fc1"><img src="../../img/bg_menu_down.gif" alt=""></td>
    <td class="fc2">&nbsp;</td>
    <td class="fc3"><img src="../../img/bg_footer.jpg" alt="" ></td>
    <td class="fc4"><nobr class="cr">Copyright © 2014-2015 <a href="../../index.html" target="_blank">Сюита</a></nobr></td>
</tr></table>
          </td></tr></table>
  </body></html>